<%- include('./partials/header') %>
	<div class="container">
    <h1>Interactive Story Game Usage Statistics boop</h1>
    <p>Myrtle: <%- myrtle %></p>
    <p>Bruce: <%- bruce %></p>
    <p>Blade: <%- blade %></p>
	</div>
  
<%- include('./partials/footer') %>