<%- include('./partials/header') %>
	<div class="container">
    <h1>Interactive Story Game Usage Statistics</h1>
    <p>Myrtle: <%- myrtle %></p>
    <p>Bruce: <%- bruce %></p>
    <p>Sebastian: <%- sebastian %></p>
    <p>Games Started: <%- games_played %></p>
    <p>Games Completed: <%- games_completed %></p>
	</div>
  
<%- include('./partials/footer') %>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>
<df-messenger
  df-cx="true"
  chat-title="Story beta"
  agent-id="07a14b3e-db1d-4528-98bd-d93d14f71150"
  language-code="en"
></df-messenger>